{
    "CLIENT_ID": "YOUR_CLIENT_ID",
    "CLIENT_SECRET": "YOUR_CLIENT_SECRET",
    "REFRESH_TOKEN": "YOUR_REFRESH_TOKEN", #obtain from token_functions once you have client ID/CLIENT_SECRET
    "DEVELOPER_TOKEN": "YOUR_DEVELOPER_TOKEN"
}